$colorBeigeBase: #dcb75c;
$colorGrisBase: #f1f1f1;
$colorGrisOscuro: #e7e7e7;
$colorAzulBase: #1f4355;
$colorAzulMedio: #3d748b;
$colorAzulOscuro: #001826;
$colorAzulClaro: #006ba0;

$colorPaletaC1: #004f7f;
$colorPaletaC2: #07899e;
$colorPaletaC3: #99c1ce;
$colorPaletaC4: #00a69c;
$colorPaletaC5: #005b52;
$colorPaletaC6: #7c0600;
$colorPaletaC7: #b70000;
$colorPaletaC8: #cc6d6d;
$colorPaletaC9: #826120;
$colorPaletaC10: #f2d188;

@mixin default-form {
  input[aria-required='true'],
  input.required {
    -webkit-box-shadow: inset -5px 0 0 0 #fcc !important;
    box-shadow: inset -5px 0 0 0 #fcc !important;
  }
  input[aria-invalid='true'] {
    border-bottom: 1px solid #f88 !important;
  }

  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    input {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 6px;
      width: 100%;
      margin-bottom: 10px;
      &[type='submit'] {
        margin: 0;
        width: 100%;
        background-color: #eee;
        border: 0;
        &:not(:disabled) {
          cursor: pointer;
          &:hover {
            background-color: #999;
          }
        }
      }
    }
    .loading {
      display: block;
      margin: 15px 0;
    }
  }
}

@mixin minmaxwh($size) {
  width: $size !important;
  min-width: $size !important;
  max-width: $size !important;
  height: $size !important;
  min-height: $size !important;
  max-height: $size !important;
}

@mixin ease-transition($duration: 150ms) {
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -ms-transition: all $duration ease;
  -o-transition: all $duration ease;
  transition: all $duration ease;
}

@mixin escalar($cant) {
  -moz-transform: scale($cant);
  -webkit-transform: scale($cant);
  -o-transform: scale($cant);
  -ms-transform: scale($cant);
  transform: scale($cant);
}

@mixin sombra($sombra) {
  -webkit-box-shadow: $sombra;
  box-shadow: $sombra;
}

@mixin not-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin grayscale($porcentaje) {
  filter: grayscale($porcentaje);
  -webkit-filter: grayscale($porcentaje);
}
@mixin sombra-arrojada($sombra) {
  filter: drop-shadow($sombra);
  -webkit-filter: drop-shadow($sombra);
}

@import 'animaciones';
